{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "quoteProps": "consistent",
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "ignore",
  "endOfLine": "auto",
  "embeddedLanguageFormatting": "auto",
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 120
      }
    },
    {
      "files": "*.css",
      "options": {
        "printWidth": 120
      }
    },
    {
      "files": "*.php",
      "options": {
        "printWidth": 120,
        "phpVersion": "7.4"
      }
    },
    {
      "files": "*.js",
      "options": {
        "printWidth": 120,
        "semi": true
      }
    }
  ]
}