@import url(./reset.css);
@import url(./animation.css);

* {
  box-sizing: border-box;
}

:root {
  /* Font */
  --heading-font-family: Helvetica, sans-serif;
  --content-font-family: monospace;
  --content-font-size: 1rem;
  /* Color */
  --heading-color: #262626;
  --content-color: #262626;
  --text-color: #262626;
  --light-color: #fff8fb;
  --text-highlight: #c9184a;
  --border-color: #262626;
  --primary-color: #ffc8dd;
  --secondary-color: #ffafcc;
  --light-primary-color: #ffe6f1;
  /* --tertiary-color: #ffe6f1; */
  --separation-color: #e6e6e6;
  --danger-color: #f44336;
  --success-color: #4caf50;
  --box-shadow: 0px 2px 4px #00000025;
  --overlay-color: #00000025;
  /* Size */
  --border-radius: 4px;
  --large-border-radius: 16px;
}

body {
  font-family: var(--content-font-family);
  font-size: var(--content-font-size);
  font-weight: 400;
  line-height: 1.5;
  color: var(--content-color);
}

.app {
  background-color: #f6f6f6;
}

/* Customize Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #b2b2b2;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #909090;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: var(--heading-font-family);
  font-weight: 500;
  line-height: 1.5;
  color: inherit;
  margin-bottom: 0.5rem;
}

h1,
.h1 {
  font-size: 2.5rem;
}

h2,
.h2 {
  font-size: 2rem;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 1.5rem;
}

h5,
.h5 {
  font-size: 1.25rem;
}

h6,
.h6 {
  font-size: 1rem;
}

a {
  display: inline-block;
  color: var(--content-color);
  text-decoration: none;
}

a:hover {
  color: var(--content-color);
}

img {
  width: 100%;
  height: 100%;
}

.table-container {
  overflow: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

table.center td {
  text-align: center;
}

th {
  background-color: var(--primary-color);
  padding: 12px 16px;
}

td {
  padding: 12px;
  border-bottom: 1px solid var(--separation-color);
}

tr:last-of-type td {
  border-bottom: 0;
}

/* Button */
button,
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 14px;
  font-family: var(--content-font-family);
  padding: 8px 16px;
  background-color: transparent;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  cursor: pointer;
  text-transform: capitalize;
}

button:disabled,
.btn:disabled {
  background-color: transparent;
  border-color: var(--border-color);
  color: var(--text-color);
  opacity: 0.5;
}

button.icon,
.btn.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: 0;
  color: inherit;
}

.btn.btn-primary {
  color: var(--text-color);
  background-color: var(--primary-color);
  border-color: transparent;
}

.btn.btn-primary:hover {
  color: var(--text-color);
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn.btn-text {
  border: 0;
}

.btn.btn-danger {
  color: var(--light-color);
  background-color: var(--danger-color);
  border-color: transparent;
}

.btn.btn-success {
  color: var(--light-color);
  background-color: var(--success-color);
  border-color: transparent;
}

.btn.btn-danger:hover,
.btn.btn-success:hover {
  opacity: 0.8;
}

/* Input */
input,
textarea,
select {
  font-size: 1rem;
  font-family: var(--content-font-family);
  width: 100%;
  height: 100%;
  padding: 8px 12px;
  color: var(--border-color);
  border: none;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
}

input:hover,
textarea:hover,
select:hover,
input:focus,
textarea:focus,
select:focus,
input:focus-visible,
textarea:focus-visible,
select:focus-visible {
  outline: 0;
}

input[type="radio"] {
  box-shadow: none;
}

.radio-box {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 100%;
}

.form-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 24px;
  margin-bottom: 16px;
}

.form-item {
  display: inline-flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 8px;
  flex: 1 1 50%;
}

.form-control {
  display: flex;
  justify-content: flex-end;
  gap: 24px;
}

/* Text */
.text-center {
  text-align: center;
}

.text-truncate {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 2;
}

/* Layout */
.container {
  max-width: 1200px;
  height: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col {
  padding: 0 16px;
}

.col-2 {
  flex: 0 0 50%;
}

.col-3 {
  flex: 0 0 33.33%;
}

.col-4 {
  flex: 0 0 25%;
}

.flex-box {
  display: flex;
  align-items: center;
  gap: 16px;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-beetween {
  justify-content: space-between;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

/* Customize Component */
.divider {
  width: 100%;
  height: 1px;
  background-color: #ffafcc;
}

/* Tabs */
.tabs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
  overflow-x: auto;
}

.tabs .tab-item {
  border-bottom: 3px solid transparent;
}

.tabs .tab-item.active,
.tabs .tab-item:hover {
  border-color: var(--secondary-color);
}

.tabs .tab-item > a {
  white-space: nowrap;
  padding: 18px 16px;
}

/* Drawer */
.drawer {
  position: fixed;
  inset: 0;
  display: none;
}

.drawer.open {
  display: block;
}

.drawer .drawer-overlay {
  position: absolute;
  inset: 0;
  background-color: var(--overlay-color);
}

.drawer .drawer-content-wrapper {
  position: absolute;
  background-color: white;
  width: 100%;
  max-width: 30%;
  height: 100%;
}

.drawer .drawer-header {
  padding: 16px;
  border-bottom: 1px solid var(--separation-color);
}

.drawer .drawer-header .drawer-header-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.drawer .drawer-header .drawer-header-title {
  margin-bottom: 0;
}

.drawer .drawer-header .close-btn {
  font-size: 1rem;
}

.drawer .drawer-body {
  overflow-y: auto;
  padding: 16px;
}

.drawer .drawer-footer {
  position: absolute;
  bottom: 0;
  padding: 16px;
  width: 100%;
  border-top: 1px solid var(--separation-color);
}

.drawer-footer .control-group {
  float: right;
}

/* Tag */
.tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 16px;
  background-color: #e6e6e6;
  border-radius: var(--border-radius);
  font-size: 14px;
  line-height: 1;
}

.tag.tag-primary {
  color: var(--text-highlight);
  background-color: var(--light-primary-color);
  border: 1px solid var(--primary-color);
}
