@import url(./base.css);

* {
  --header-height: 60px;
  --footer-height: 80px;
  --dropdown-radius: 8px;
}

.app {
  display: grid;
  grid-template-rows: var(--header-height) auto var(--footer-height);
  grid-template-areas:
    "header"
    "main"
    "footer";
  overflow: hidden;
}

header {
  grid-area: header;
  background-color: var(--primary-color);
  color: #262626;
}

main {
  grid-area: main;
  min-height: calc(100vh - 60px - 80px);
}

footer {
  grid-area: footer;
  background-color: var(--primary-color);
  color: #262626;
}

.header-container {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-logo {
  height: 100%;
}
.main-logo a,
.main-logo img {
  width: auto;
  height: 100%;
}

/* Nav */
nav {}

nav ul.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: capitalize;
}

nav ul.menu > li {
  position: relative;
}

nav ul.menu > li > a {
  display: inline-block;
  padding: 18px 16px;
}

nav ul.menu > li > a:hover {
  background-color: var(--secondary-color);
}

nav ul.menu > li > .submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  width: 100%;
  min-width: 200px;
  background-color: #f9f9f9;
  border-width: 1px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 4px 0;
}

nav ul.menu > li > a:hover + .submenu,
nav ul.menu > li > a + .submenu:hover {
  display: block;
}

nav ul.menu > li > .submenu > li > a {
  padding: 8px 12px;
  width: 100%;
}

nav ul.menu > li > .submenu > li > a:hover {
  background-color: var(--secondary-color);
}

.header-right .control-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  text-transform: capitalize;
}

.header-right .control-box .account {
  padding-inline: 8px;
}

.header-right .control-box .search-box {
  position: relative;
}

.control-box .search-box input {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
}

.control-box .search-box .search-icon:hover + input,
.control-box .search-box input:hover {
  display: block;
}

.main-container {}

/* Footer */
.footer-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.breadcrumb-container {
  margin-top: 16px;
  padding: 16px 0;
}

ol.breadcrumb {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-transform: capitalize;
}

.breadcrumb .breadcrumb-item.active {
  color: var(--text-highlight);
}

.breadcrumb .breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #6c757d;
  content: "/";
}
