@import url(./shared/layout.css);
@import url(./shared/products.css);

.homepage {}

.banner-container {
  width: auto;
  /* Set chiều cao của banner */
  height: 500px;
}

.carousel-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-container .carousel-list,
.carousel-container .carousel-slide {
  width: 100%;
  height: 100%;
}

.carousel-container .carousel-list {
  display: flex;
  flex-wrap: nowrap;
  transition: transform 0.5s ease-in-out;
}

.carousel-container .carousel-slide {
  min-width: 100%;
}

.carousel-container .carousel-slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-container .carousel-control {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.carousel-container .carousel-control-btn {
  padding: 16px;
  color: #FFFFFF75;
  background-color: #00000025;
  border-radius: 50%;
}

.carousel-container .carousel-control-btn:hover {
  background-color: #00000075;
}

/* Policy Card */
.policy-section {
  margin: 32px 0;
}
.policy-container {
}

.policy-card {
  width: 50vw;
  height: 500px;
  background-color: var(--primary-color);
  border-radius: 16px;
  margin: 0 auto;
  text-align: center;
}